:root {
    --secondary-hex: #006E7F;
    --secondary-rgb: 0, 110, 127;


    --bs-secondary-rgb: var(--secondary-rgb);
    --bs-secondary-bg-rgb: var(--secondary-rgb);

}



.btn-secondary {
    background-color: #006E7F;
}
.btn-secondary:hover {
    background-color: white;
    color: #006E7F;
    border-color: #006E7F;
}




.bg-gray {
    background-color: #e0e0e0;
}

.title {
    font-size: 63px;
    font-weight: 600;
}


.bg-secondary-light {
    background-color: #3b909d;
}
 




.accordion-button {
    color: #006E7F;
}
.accordion-item {
    color: #006E7F;
}
.accordion-button.collapsed {
    background-color: #f0efef;
}
.accordion-button:not(.collapsed) {
    background-color: #3b909d;
    color: white;
}



.ls-ku {
    line-height: 2;
}


.h-full {
    height: 100%;
}

.opacity-50 {
    opacity: 50%;
}

.scale-110 {
    scale: 110%;
}



.animasi-hover {
    transition: 0.5s;
}

.animasi-hover:hover {
    padding: 50px;
    color: #006E7F;
}


.footer-ref a {
    text-decoration: none;
    color: black;
    margin-right: 15px;
}

.footer-ref a:hover {
    color: orange;
}


.ref {
    text-decoration: none;
}